.sidebar{
     margin-top: 30px;
     width: 200px;
}

.sidebar h4{
     display: flex;
     align-items: center;
}

.sidebar li , .sidebar div{
     display: flex;
     margin: 20px 0;
     cursor: pointer;
}

.sidebar li p , .sidebar div p {
     font-weight: 200;
     margin-right: 10px;
     color: gray;
}

.sidebar div{
     display: flex;
     justify-content: flex-start;
     align-items:center;
}

.sidebar svg{
 font-size: 20px;
 margin-left: 10px;
}